:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
input, button, textarea, :focus {
	outline: none;
}

body {
	background: #272e37;
	font-family: 'Lato', sans-serif;
	color: #FDFCFB;
	overflow: hidden;
	
}

.connectionShake {
	animation: connectionShake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes connectionShake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

#menuBar{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
	width: 100%;
	-webkit-app-region: drag
}
.wrapper {
	display: none;
	position: absolute;
	top: 13%;
	width: 100%;
}

.divider{
	border-left: thin solid white;
}

#countdown{
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.7);
	font-size: 30vmin;
	text-align: center;
	vertical-align: middle;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 10px;
	max-width: 100%;
	max-height: 50%;
	height: auto;  
	display: none;
}

#days{
	display: inline-block;
	padding-right: 20px;
}

#hours{
	display: inline-block;
	padding-right: 20px;
}

.sub{
	display: block;
	top: -30px;
	position: relative;
	font-size: 25px;
}

#minutes{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	
}

#seconds{
	display: inline-block;
	padding-left: 20px;
	
}

#donations{
	margin-top: 15%;
	font-size: 25vmin;
	text-align: center;
	vertical-align: middle;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 10px;
	max-width: 100%;
	max-height: 50%;
	height: auto;  
	background: #0f161f;
	box-shadow: inset 0px -1px 8px -6px #FFFFFF;
	-webkit-box-shadow: inset 0px -1px 8px -6px #FFFFFF;
	-moz-box-shadow: inset 0px -1px 8px -6px #FFFFFF;
	-o-box-shadow: inset 0px -1px 8px -6px #FFFFFF;
}


/*
Based on:
http://codepen.io/erikapdx/pen/BnfjH

*/
form {
	width: 450px;
	position:absolute;
	margin:-110px 0 0 -225px;
	left:50%;
	top:50%;
}


.header {
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
}


.description {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.3em;
	margin: -2px 0 45px;
}


.input {
	display: flex;
	align-items: center;
}


.button {
	height: 44px;
	border: none;
}

	
#ipField {
	width: 75%;
	background: #FDFCFB;
	font-family: inherit;
	color: #737373;
	letter-spacing: 1px;
	text-indent: 5%;
	border-radius: 5px 0 0 5px;
}


#submit {
	width: 25%;
	height: 46px;
	background: #3C7A41;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	letter-spacing: 1px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	transition: background .3s ease-in-out;
}
	

#submit:hover {
	background: #51A658;
}
	

input:focus {
	outline: none;
	outline: 2px solid #527885;
	box-shadow: 0 0 2px #527885;
}